*{
    margin: 0;
}
nav{
display:flex;
flex-direction: row-reverse;
justify-content:space-around;
align-items: center;
height: 40px;
width: 100%;
background-color: black;
color: greenyellow;
word-spacing: 10px;

}
ul,li{
    display:flex;
/*     flex-direction:flex-end;
 */    justify-content:space-around;
}

/* MAIN GAME*/
main{
    display: flex;
    height: 100%;
    min-width: 75%;
    flex-direction: row;
    border: 5px black solid;
    margin: 10%;
    justify-content: flex-start;
    background-color: rgb(240, 228, 213) ;
    align-items: center;
    padding: 5%;
}

.mychoice{
    display: flex;
    justify-content:center;
    align-items:center;
    word-spacing: 10px;
}
.stone{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 3px;
    margin-left:0px;
    border:2px black solid;
    border-radius: 10px;

}
.stone:hover{

font-size: 30px;
background-color:rgb(188, 156, 143);
}
.paper:hover{
    font-size: 30px;
    background-color:rgb(188, 156, 143);    
}
.scissor:hover{
    font-size: 30px;
    background-color:rgb(188, 156, 143);
}
.paper{
    display: flex;
    padding: 10px;
    margin: 3px;
    border:2px black solid;
    border-radius: 10px;

}
.scissor{
    display: flex;
    padding: 10px;
    margin: 3px;
    border:2px black solid;
    border-radius: 10px;
}
#playbox{
    display: flex;   
    flex-direction:column;
align-items:flex-end;
margin-right: 5%;
margin-top: 2%;
}
#playagain{
    border:0;
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    justify-content: flex-end;
    background-color: rgb(115, 243, 117);
    align-items: center;
}
#playagain:hover{
    color:black;
    border:6px solid blue;
    font-size: 8px;

}
